/* Remove padding and margin */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Containers */

body {
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: #191414;
}

#login {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 25px 0 10px;
	margin-bottom: 30px;
}

#list-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*	Log in view */

.spotify-logo {
	background-image: url(../icons/Spotify_Logo_RGB_Green.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 5em;
	width: 200px;
	display: block;
}

h1 {
	font-size: 18px;
	color: white;
	font-weight: 900;
	line-height: 1.1;
	font-family: sans-serif;
	margin-top: 12px;
	margin-bottom: 12px;
}

#login-button {
	background-color: #1db954;
	border: none;
	padding: 16px 14px 18px;
	width: 350px;
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	border-radius: 30px;
	outline: none;
	line-height: 1;
	letter-spacing: 2px;
	white-space: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}

#login-button:hover {
	background-color: #1ed760;
}

/* Home view */

.item img {
	width: 300px;
	height: 300px;
	display: inline-block;
	border-radius: 3px;
}

.item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
	padding: 1em 1em 1em 1em;
	background-color: #191919;
	width: 25em;
	border-radius: 3px;
}

.item:hover {
	background-color: #282828;
}

.item h2 {
	color: white;
	font-size: 16px;
	padding-bottom: 0.5em;
	padding-top: 1em;
	align-self: flex-start;
	margin-left: 3.1em;
	font-weight: 700;
	line-height: 24px;
	font-family: 'Helvetica Neue';
}

.item p {
	font-size: 16px;
	color: white;
	font-family: 'Helvetica Neue';
	font-weight: 300;
	align-self: flex-start;
	margin-left: 3.1em;
	opacity: 0.9;
}

.play-button {
	visibility: hidden;
	position: absolute;
	bottom: 95px;
	left: 300px;
	display: inline-block;
	width: 3em;
	height: 3em;
	background-color: #1db954;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item .play-icon {
	margin-left: 0.3em;
	position: relative;
	width: 1em;
	height: 1em;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background-color: #ffffff;
	display: inline-block;
	transform: rotate(90deg);
}

.item:hover span {
	visibility: visible;
}

/* Detail view */

#tracks-container {
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

.row {
	display: flex;
	color: #ffffff;
	font-size: 16px;
	font-family: 'Helvetica Neue';
	font-weight: 300;
	margin-left: 2em;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 0.8em;
	margin-right: 6em;
}

.row:hover {
	background-color: #2e2e2f;
	border-radius: 3px;
}

.number {
	display: flex;
	align-items: flex-start;
}

.number span {
	padding-top: 0.2em;
	font-size: 16px;
}

.tracklist-row {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.track-info {
	display: flex;
	flex-direction: column;
	margin-left: 3em;
	flex-grow: 1;
}

.track-info span {
	color: lightgrey;
	display: inline-block;
}

.duration {
	display: flex;
	align-items: flex-start;
	height: 3em;
}

.row h2 {
	font-weight: 400;
	font-size: 18px;
}

/*	Active classes */

.toggle {
	display: none !important;
}

.loader-on {
	display: inline-block;
}

.loader-off {
	display: none;
}

#loader span {
	display: inline-block;
	width: 4em;
	height: 4em;
	background-color: red;
	border-radius: 30px;
}

#loader {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}
